<h1><%= @entry.date %></h1>

<p><%= @entry.body %></p>

<%# <%= render @entry.tasks%> 

<%# <h4>Add a task:</h4>
 <%= render 'tasks/form_new' %> 

<br>
 <%= link_to "Edit", edit_entry_path(@entry) %>
<%= link_to "Delete", entry_path(@entry), method: :delete, data: { confirm: "Are you sure?" } %>
<br>