<h1><%= @entry.date %></h1>



<%= link_to "Edit Entry", edit_entry_path(@entry) %>
<%= link_to "Delete Entry", entry_path(@entry), method: :delete, data: { confirm: "Are you sure?" } %>




<%= render @entry.tasks%>

<h2>Add a task:</h2>
 <%= render 'tasks/form' %>
